footer {
  border-top: 1px solid grey;
}
.contact{
  width: 100%;
  margin-top: 10px;
 }
.cont {
  font-size: 20px;
  color: grey;
  float: left;
  margin-bottom: 5%;
  margin-left: 47%;
  margin-right: 16%;
  text-align: center;
}
@media all and (max-width: 740px) {
  .cont {
    font-size: 20px;
    color: grey;
    float: left;
    margin-bottom: 1%;
    margin-left: 40%;
    margin-right: 7%;
    text-align: center;
  }
}
.tel {
  height: 35px;
  float: left;
  margin-left: 40%;
  margin-top: 3%;
}
.mail {
  height: 35px;
  float: left;
  margin-left: 40%;
  margin-top: 3%;
}
.mai {
  height: 35px;
  float: left;
  margin-left: 40%;
  margin-top: 3%;
}
@media all and (max-width: 740px) {
  .tel {
    height: 35px;
    float: left;
    margin-left: 30%;
    margin-top: 5%;
  }
  .mail {
    height: 35px;
    float: left;
    margin-left: 30%;
    margin-top: 5%;
  }
  .mai {
    height: 35px;
    float: left;
    margin-left: 30%;
    margin-top: 5%;
  }
}
.contact1 {
	width: 50%;
	height: 40%;
	float: left;
	background-color: silver;
	margin-bottom: 10%;
	margin-right: 30%;
	margin-left:25%;
  margin-top: -20px;
	z-index: 3;
	border : 7px solid AppWorkspace;
}
.couleur {
	width: 30%;
	height:150px;
	float: left;
	background-color: ButtonText;
	margin-left: 2.5%;
	z-index: 1;
}
@media all and (max-width: 740px) {
  .couleur {
  	width: 60%;
  	height:150px;
  	float: left;
    background-color: ButtonText;
  	margin-left:20%;
    margin-top: 10%;
  	z-index: 1;
  }
}
.para {
	color: white;
}
